.wrap
{
	height: 629px;
	width: 1200px;
	margin: -5 auto
}
.color
{
	background-color:#F2F2F2;
}
.an {
	font-size: xx-large;
	color: #666;
}
.an3 {
	font-size: xx-large;
	color: #666;
}
.an2
{
	font-size: x-large;
	color: #666;
}
.an5
{
		color:#666;
}
.an6
{
	font-size:24px;
		color:#666;
}
a{text-decoration:none; color: #666;}
a:hover{text-decoration:none; color: #000; background-color:#FFF;}
.t:hover{text-decoration:none; color: #000; background-color:#FFF;}
a:link{text-decoration:none; color: #666;}
a:visited{text-decoration:none; color: #666; background-color:#FFF;}

.div1
{
	 width: 1200px; 
	 height: 92px; 
	 top: 27px;
}
.div2
{
	left: -5px;
	top: 20px;
	width: 1205px;
	height: 93px;
}
.div3
{
	 top: 134px; 
	 width: 227px; 
	 height: 505px; 
	 color: #F2F2F2;
}
.div4
{
	 left: 245px; 
	 top: 135px; 
	 width: 180px; 
	 height: 154px;
}
.div5
{
	left: 641px;
	top: 20px;
	width: 246px;
	height: 31px;
}
.div6
{
	 left: 245px; 
	 top: 328px; 
	 width: 955px; 
	 height: 309px;
}
.ta
{
	color:#FFF;
	background-color:#666666;
}
